#output {
  display: none;
}

.h1 {
	text-shadow: 0 5px 5px rgb(11, 101, 117);
	color: rgba(17, 4, 49, 0.897);
}

h1 small {
  display: block;
  margin: 5px;
}

p, ul {
	color: rgb(20, 88, 97);
  text-align: justify;
  padding: 10px;
}

li {
  margin: 5px 5px 5px 20px;
}

p:hover {
  text-shadow: 0 5px 5px rgb(11, 101, 117);
	color: rgba(17, 4, 49, 0.897);
}

ul:hover {
  text-shadow: 0 5px 5px rgb(11, 101, 117);
  color: rgba(17, 4, 49, 0.897);
  font-weight: bold;
}

form {
  padding: 10px 10px 10px 50px;
}

select {
  display: block;
}

label {
  color:rgba(6, 49, 47, 0.897);
  font-weight: bold;
}

.panel {
	background: url("../img/background6.jpg");
	opacity: 0.9;
	padding: 7px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.50);
}

.panel:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

img {
  opacity: 0.8;
  max-width:100%;
  max-height:100%;
}

h2, h3 {
  font-weight: bold;
  color: rgba(241, 75, 10, 0.897);
}

span {
  font-size: 20;
  font-weight: bolder;
}

div#output {
  margin: 15% 15% 15% 7%;
  border: 2px solid grey;
  color: rgba(228, 90, 124, 0.897);
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}